{% extends 'base.html' %}
{% load static %}

{% block title %}Event Detail{% endblock %}

{% block extra_css %}
{% endblock %}



{% block content %}
<h1>Student Dashboard</h1>
<ul>
  {% for student in students %}
    <li>{{ student.name }} </li>
    <li>{{student.email}}</li>
    <li>{{student.roll_number}}</li>
    <li>{{student.address}}</li>
    <li>{{student.dob}}</li>
    <li>{{student.enrollment_date}}</li>
    <li>{{student.class_name}}</li>
  {% endfor %}
</ul>


{% endblock %}
{% block extra_js %}
<script>
   
</script>
{% endblock %}