{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Student Management System{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
 {% block extra_css %}
    {% endblock %}
</head>

<body>

    {% include 'Navbar.html' %}
<main class="main">
    {% block content %}{% endblock %}
</main>


   
    <script>
    </script>
    {% block extra_js %}

    {% endblock %}
</body>
