{% extends 'base.html' %}
{% load static %}
{% block title %}Login - Student Management System{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">

{% endblock %}

{% block content %}
<div class="form-container">
    <div class="form-wrapper">
        <div class="form-header">
            <h2 class="form-title">Welcome Back</h2>
            <p class="form-subtitle">Sign in to your account</p>
        </div>

        <form class="form-card" method="POST">
            {% csrf_token %}
       
            


            <div class="form-group">
                <label for="username" class="form-label">Username</label>
                <input id="username" name="username" type="text" required class="form-input"
                    placeholder="Enter username">
            </div>

            <div class="form-group">
                <label for="password" class="form-label">Password</label>
                <input id="password" name="password" type="password" required class="form-input"
                    placeholder="Enter password">
            </div>
 {% for message in messages %}
                   <div class="msg"">
                    {{ message }} 
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary btn-block">
                Sign In
            </button>

            <div class="form-footer">
                <p>
                    Don't have an account?
                    <a href="{% url 'signup' %}" class="form-link">Sign up here</a>
                </p>
            </div>
        </form>
    </div>
</div>
{% endblock %}