{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">

</head>

<body>
    <nav class="navbar">
        <a class="logo" href="{% url 'dashboard' %}">Home</a>


        <ul class="nav-links">
            {% if user.USER_TYPE_CHOICES %}
            <span>
                Welcome, <span>{{ user.username }}</span>
                <span>({{ user.user_type }})</span>
            </span>
            <a href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'signup' %}">Sign Up</a>
            {% endif %}

            <!-- <li>{{ request.user.username }}
</li>
            <li><a href="">Author</a></li>
            <li><a href="">Book</a></li>
            <li><a href="">account</a></li>
            <a href="">Logout</a> -->


        </ul>
    </nav>
</body>

</html>