{% extends 'base.html' %}
{% load static %}

{% block title %}Event Detail{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
<h1>Teacher Dashboard</h1>
<ul>
  {% for school_class in school_classes %}
    <li>{{ school_class.class_name }} - 
      {{ school_class.section }}
     <li>
    <a href="{% url 'teacher_dashboard' school_class.teacher.id %}">
        {{ school_class.teacher.name }}
    </a>
</li>

  {% endfor %}
</ul>

{% endblock %}
{% block extra_js %}
<script>
   
</script>
{% endblock %}