
{% extends 'base.html' %}
{% load static %}
{% block title %}Sign Up - Student Management System{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">

{% endblock %}

{% block content %}
<div class="form-container">
    <div class="form-wrapper">
        <div class="form-header">
            <h2 class="form-title">Create Account</h2>
            <p class="form-subtitle">Join our Student Management System</p>
        </div>
        
        <form class="form-card" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="btn btn-primary btn-block">
                Sign Up
            </button>

            <div class="form-footer">
                <p>
                    Already have an account? 
                    <a href="{% url 'login' %}" class="form-link">Login here</a>
                </p>
            </div>
        </form>
    </div>
</div>

{{form.as.p}}

{% endblock %}
